@font-face {
	font-family: 'B20';
		src: url("../fonts/primary-font/b20sans-webfont.eot") format("eot");
		src: url("../fonts/primary-font/b20sans-webfont.woff") format("woff"),
			 url("../fonts/primary-font/b20sans-webfont.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/primary-font/b20sans-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Icomoon';
		src: url("../fonts/icons-font/icomoon.eot") format("eot");
		src: url("../fonts/icons-font/icomoon.woff") format("woff"),
			 url("../fonts/icons-font/icomoon.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/icons-font/icomoon.ttf") format("truetype"),
			 url("../fonts/icons-font/icomoon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}